<div class="divider"></div>

<div class="blog-list-container">
	<p>
		<% if controller_action == "home#index" %>
			I’m keeping a blog on this website. Please enjoy reading the entries and feel free to get in touch if you have
			any questions, criticisms, or corrections.
		<% else %>
			I hope you enjoyed this blog post. It’s not the only one! Please enjoy reading another from the list below.
		<% end %>
	</p>
	
	<table class="blog-list">
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Respre", blog_respre_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-10-24">October 24, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Things I Like", blog_things_i_like_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-10-06">October 6, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Anxiety Debt", blog_anxiety_debt_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-07-02">July 2, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Responses to Alisha Miranda’s Questions on Growth", blog_questions_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-29">May 29, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Three from Last Week", blog_last_week_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-27">May 27, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "For the Love of the URL", blog_url_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-20">May 20, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "The Internet is a Mirror", blog_mirror_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-13">May 13, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Eating Your Own Final Boss", blog_final_boss_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-11">May 11, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "This Website", blog_about_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-04">May 4, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "An Intro To Heroku Addons", blog_heroku_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-03-27">March 27, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Fall", blog_fall_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-11-17">November 17, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "The 1-line Productivity Hack", blog_productivity_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-08-16">August 16, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Complexity = Features<sup>2</sup>".html_safe, blog_complexity_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-08-01">August 1, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "What Ad Agencies&rsquo; Job Openings Are Really Saying".html_safe, blog_job_openings_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-06-18">June 18, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Let&rsquo;s Hang Out.".html_safe, blog_hang_out_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-06-05">June 5, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Finishing", blog_finishing_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-05-31">May 31, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Engineers and Advertising", blog_engineers_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-04-17">April 17, 2013</span>
			</td>
		</tr>
	</table>
</div>