<div class="divider"></div>

<div class="blog-list-container">
	<p>
		<% if controller_action == "home#index" %>
			I’m keeping a blog on this site. I tend to write about the effect of technology on our lives. I’ve picked out a few of my favorite posts, below. Please enjoy reading them.
		<% else %>
			I hope you enjoyed this blog post. It’s not the only one! Please enjoy reading another from the list of selected posts below.
		<% end %>
		You can see all my posts <%= link_to "here", blog_index_path %>. 
	</p>
	
	<table class="blog-list">
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Respre", blog_respre_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-10-24">October 24, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Anxiety Debt", blog_anxiety_debt_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-07-02">July 2, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Three from Last Week", blog_last_week_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-27">May 27, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "For the Love of the URL", blog_url_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-20">May 20, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "The Internet is a Mirror", blog_mirror_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-13">May 13, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "This Website", blog_about_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2014-05-04">May 4, 2014</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Fall", blog_fall_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-11-17">November 17, 2013</span>
			</td>
		</tr>
		<tr>
			<td itemscope itemtype="http://schema.org/Article">
				<h3><%= link_to "Finishing", blog_finishing_path, itemprop: 'name' %></h3>
				<span class="date" itemprop="datePublished" content="2013-05-31">May 31, 2013</span>
			</td>
		</tr>
		
	</table>
</div>