<%= link_to (image_tag "yo.png", class: 'portrait'), root_path %>

<% if controller_action != "home#index" %>

<h3>GREETINGS</h3>
<p>
	I’m Aaron Grando, a web developer and designer currently working as 
	Tech Lead at RTO+P. Interested? <a href="/">Read more about me.</a>
</p>

<% end %>

<h3>MY AIM</h3>
<p>
	Keep it simple. Resist the Silicon Valley ideal. Less technology is the best technology. Help people act like people.
</p>

<h3>ELSEWHERE</h3>
<p>
	<%= link_to "Twitter", "http://twitter.com/grrrando" %>
	<%= link_to "Instagram", "http://instagram.com/grrrando" %>
</p>

<h3>WORK</h3>
<p>
	<%= link_to "RTO+P", "http://rtop.com/" %>
	<%= link_to "What Say Co.", "http://whatsay.co/" %>
	<%= link_to "Curriculum Vitae", cv_path %>
</p>

<p>
	&copy; <%= Time.now.year %> A.G.
	<%= link_to "See commit history.", "https://github.com/aarongrando/grrrando.com" %>
</p>