<div itemscope itemtype="http://data-vocabulary.org/Person">
	<h1>Hi. I’m <strong itemprop="name">Aaron Grando</strong>, a web developer and designer in <span itemprop="address" itemscope
    itemtype="http://data-vocabulary.org/Address"><span itemprop="locality">Philadelphia</span>,&nbsp;<span itemprop="region">PA</span></span>.</h1>
	<p>
		I live with my wife Kelly, our dog Nadine, two cats, and about a dozen plants. 
	</p>
	<p>
		I’m interested in technology as entertainment, the new aesthetic, and reducing the burden that over-anxious technology
		has placed on our lives.
	</p>
	<p>
		By day, I assume the role of <span itemprop="title">Technology Director</span> at <%= link_to '<span itemprop="affiliation">RTO+P</span>'.html_safe, "http://rtop.com" %>. That means I help strategize, build, and manage the dev team, and all of the stuff built by the team.
	</p>
	<p>
		In 2012, I created <%= link_to "What Say Co.", 'http://whatsay.co/' %> and a line of @Horse_ebooks-inspired tee-shirts. In 2014 I was quoted in the 
		<%= link_to "<em>New Yorker</em>".html_safe, "http://www.newyorker.com/reporting/2014/02/10/140210fa_fact_orlean"%>
		saying something about <%= link_to "long cons", "http://instagram.com/p/kACFsYB1bn/" %>.
	</p>
</div>
<%= render partial: 'shared/selected_list' %>
