<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>
			<% if !content_for?(:title) %>
				Aaron Grando - Man of the Internet
			<% else %>
				<%= yield :title %> &mdash; Aaron Grando
			<% end %>
		</title>
		<meta name="description" content="Brooklyn-based web developer and designer. Less technology is the best technology.">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/assets/yo.png"> 
		<link rel="apple-touch-icon-precomposed" href="/assets/touchicon.jpg" />

		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= render partial: 'layouts/fonts' %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		
    </head>
    <body id="<%= params[:controller] %>" class="<%= params[:action] %>">
        <!-- Add your site or application content here -->
		<header></header>
		
		<div id="container">
			<div id="logo">
				<% if content_for?(:logo) %>
					<a href="/" class="blog">
						<%= yield :logo %>
						<%= image_tag 'signature_small_black.png', class: 'name variable' %>
					</a>
				<% else %>
					<a href="/" class="self">
						<div class="logo-shape"></div>
						<%= image_tag 'signature_small.png', class: 'name' %>
					</a>
				<% end %>
			</div>
			<article id="main">
	        	<%= yield %>
	        </article>
			<aside id="sidebar">
				<%= render partial: 'shared/sidebar' %>
			</aside>
		</div>
		
		<div style="display: none">
		    <a href="https://plus.google.com/101507992583782469981?rel=author">Google+</a>
		</div>
		
		<footer></footer>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-12672794-2', 'grrrando.com');
		  ga('require', 'linkid', 'linkid.js');
		  ga('require', 'displayfeatures');
		  ga('send', 'pageview');
		</script>
    </body>
</html>
